{% if config.debug %}
<div id="gome-help">
    <ul>
        <li><a data-code="1000043126-0" href="http://help.gome.com.cn/question/10.html" target="_blank" rel="nofollow"><i class="moren"></i>七天退换</a></li>
        <li><a data-code="1000043126-1" href="http://weixiu.gome.com.cn/" target="_blank" rel="nofollow"><i class="icon-zywx"></i>专业维修</a></li>
        <li><a data-code="1000043126-2" href="http://prom.gome.com.cn/html/prodhtml/topics/201408/chb/qxg_gm.html" target="_blank" rel="nofollow"><i class="icon-ybfw"></i>延保服务</a></li>
        <li><a data-code="1000043126-3" href="http://yjhx.gome.com.cn/hsfw.html" target="_blank" rel="nofollow"><i class="icon-hsfw"></i>回收服务</a></li>
        <li><a data-code="1000043126-4" href="http://help.gome.com.cn/" target="_blank" rel="nofollow"><i class="icon-fwzx"></i>服务中心</a></li>
    </ul>
    <div class="gome-help-box">
        <dl>
            <dt>物流配送</dt>
            <dd><ul>
                <li><a data-code="1000043252-0" href="http://help.gome.com.cn/question/9.html" target="_blank" rel="nofollow">配送查询</a></li>
                <li><a data-code="1000043252-1" href="http://help.gome.com.cn/question/28.html" target="_blank" rel="nofollow">配送说明</a></li>
                <li><a data-code="1000043252-2" href="http://help.gome.com.cn/question/8.html" target="_blank" rel="nofollow">配送费用</a></li>
                <li><a data-code="1000043252-3" href="http://help.gome.com.cn/question/38.html" target="_blank" rel="nofollow">签收与验货</a></li>
            </ul></dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd><ul>
                <li><a data-code="1000043266-0" href="http://help.gome.com.cn/question/33.html" target="_blank" rel="nofollow">在线支付</a></li>
                <li><a data-code="1000043266-1" href="http://help.gome.com.cn/question/32.html" target="_blank" rel="nofollow">货到付款</a></li>
                <li><a data-code="1000043266-2" href="http://help.gome.com.cn/question/34.html" target="_blank" rel="nofollow">分期付款</a></li>
                <li><a data-code="1000043266-3" href="http://help.gome.com.cn/question/110.html" target="_blank" rel="nofollow">门店支付</a></li>
                <li><a data-code="1000043266-4" href="http://help.gome.com.cn/question/36.html" target="_blank" rel="nofollow">发票制度</a></li>
            </ul></dd>
        </dl>
        <dl>
            <dt>售后服务</dt>
            <dd><ul>
                <li><a data-code="1000043269-0" href="http://help.gome.com.cn/question/10.html" target="_blank" rel="nofollow">退换货服务</a></li>
                <li><a data-code="1000043269-1" href="http://help.gome.com.cn/question/39.html" target="_blank" rel="nofollow">退款说明</a></li>
                <li><a data-code="1000043269-2" href="http://help.gome.com.cn/question/25.html" target="_blank" rel="nofollow">上门安装</a></li>
                <li><a data-code="1000043269-3" href="http://help.gome.com.cn/question/24.html" target="_blank" rel="nofollow">家电维修</a></li>
                <li><a data-code="1000043269-4" href="http://help.gome.com.cn/question/22.html" target="_blank" rel="nofollow">家电回收</a></li>
            </ul></dd>
        </dl>
        <dl>
            <dt>会员专区</dt>
            <dd><ul>
                <li><a data-code="1000043272-0" href="http://help.gome.com.cn/question/26.html" target="_blank" rel="nofollow">会员介绍</a></li>
                <li><a data-code="1000043272-1" href="http://help.gome.com.cn/question/27.html" target="_blank" rel="nofollow">优惠券说明</a></li>
                <li><a data-code="1000043272-2" href="http://help.gome.com.cn/question/23.html" target="_blank" rel="nofollow">积分说明</a></li>
                <li><a data-code="1000043272-3" href="http://help.gome.com.cn/question/42.html" target="_blank" rel="nofollow">国美社区</a></li>
                <li><a data-code="1000043272-4" href="http://help.gome.com.cn/question/2.html" target="_blank" rel="nofollow">账户安全</a></li>
            </ul></dd>
        </dl>
        <dl>
            <dt>购物帮助</dt>
            <dd><ul>
                <li><a data-code="1000043275-0" href="http://help.gome.com.cn/question/29.html" target="_blank" rel="nofollow">购物流程</a></li>
                <li><a data-code="1000043275-1" href="http://help.gome.com.cn/question/1.html" target="_blank" rel="nofollow">常见问题</a></li>
                <li><a data-code="1000043275-2" href="http://help.gome.com.cn/question/21.html" target="_blank" rel="nofollow">联系我们</a></li>
            </ul></dd>
        </dl>
    </div>
</div>
<div id="gome-foot">
    <div id="gome-foot-box">
        <span class="">
            <i></i>
            <p><strong>门店服务</strong><a data-code="1000043114-0" href="http://help.gome.com.cn/question/37.html" target="_blank">国美门店全国共计2000余家</a></p>
        </span>
        <span class="ued">
            <i></i>
            <p><strong>用户体验</strong><a data-code="1000043114-1" href="http://help.gome.com.cn/question/79.html" target="_blank">参与用户体验改进计划</a>　<a data-code="1000043114-1" href="http://www.gome.com.cn/ec/homeus/survey/surveyPage.jsp?intcmp=sy-1000043114-1&key=gome001" target="_blank">用户反馈调查</a></p>
        </span>
        <em class="code-sm code-sm-0 wx">
            <i></i>
            <p>公众号</p>
            <div><i><img src="http://img.gomein.net.cn/images/grey.gif" gome-src="http://img12.gomein.net.cn/image/prodimg/topics/eu271/201512/21/20151221145829.png"></i><span>扫码关注国美在线<b>官方微信</b></span></div>
        </em>
        <em class="code-sm code-sm-1 wap">
            <i></i>
            <p>手机站点</p>
            <div><i><img src="http://img.gomein.net.cn/images/grey.gif" gome-src="http://img14.gomein.net.cn/image/prodimg/topics/eu271/201512/21/20151221145849.png"></i><span>手机逛国美<b>购物更便捷</b></span></div>
        </em>
        <em class="code-bg code-bg-0 app">
            <i><a data-code="1000043112-0" href="http://shouji.gome.com.cn/" target="_blank"></a></i>
            <p>扫码下载客户端</p>
        </em>
        <ul>
            <li><a data-code="1000043124-0" href="http://igome.com/" target="_blank" rel="nofollow">国美集团</a></li>
            <li><a data-code="1000043124-1" href="http://www.multigold.com.cn/" target="_blank" rel="nofollow">多边金都</a></li>
            <li><a data-code="1000043124-2" href="http://www.gomehome.com/" target="_blank" rel="nofollow">国美家装</a></li>
            <li><a data-code="1000043124-3" href="http://www.gomeart.com/?utm_source=gome&utm_medium=zuoshang/" target="_blank" rel="nofollow">国之美</a></li>
            <li><a data-code="1000043124-4" href="http://help.gome.com.cn/about/company.html" target="_blank" rel="nofollow">关于国美在线</a></li><li>|</li>
            <li><a data-code="1000043124-5" href="http://brand.gome.com.cn/" target="_blank" rel="nofollow">品牌大全</a></li>
            <li><a data-code="1000043124-6" href="http://www.gome.com.cn/topic/" target="_blank" rel="nofollow">商品专题</a></li>
            <li><a data-code="1000043124-7" href="http://www.gome.com.cn/keywords/" target="_blank" rel="nofollow">热门搜索</a></li>
            <li><a data-code="1000043124-8" href="http://www.gome.com.cn/links/" target="_blank" rel="nofollow">友情链接</a></li><li>|</li>
            <li><a data-code="1000043124-9" href="http://cps.gome.com.cn/" target="_blank" rel="nofollow">销售联盟</a></li>
            <li><a data-code="1000043124-10" href="http://www.gome.com.cn/join/" target="_blank" rel="nofollow">商家入驻</a></li>
        </ul>
        <p>©2000-2016&nbsp;&nbsp;国美在线电子商务有限公司版权所有&nbsp;&nbsp;京公安网备11010502027062&nbsp;&nbsp;沪ICP备11009419号&nbsp;&nbsp;沪B2-20120004号</p>
        <div class="gome-foot-credit">
            <a class="credit-baxx" href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=dov73ne26zbqpugb8ivnfez35upwknav4n" target="_blank" rel="nofollow"><i></i><b>经营性网站备案信息</b></a>
            <a class="credit-xypj" href="https://ss.knet.cn/verifyseal.dll?sn=2011071100100011373&comefrom=trust" target="_blank" rel="nofollow"><i></i><b>可信网站信用评价</b></a>
            <a class="credit-cxwz" href="http://search.cxwz.org/cert/l/CX20111018000607000618" target="_blank" rel="nofollow"><i></i><b>诚信网站</b></a>
            <a class="credit-hdjc" href="http://www.bj.cyberpolice.cn/index.do" target="_blank" rel="nofollow"><i></i><b>朝阳网络警察</b></a>
            <a class="credit-wgdj" href="http://shwg.dianping.com/index.html" target="_blank" rel="nofollow"><i></i><b>网购大家评</b></a>
        </div>
        <em class="turst-gome"></em>
    </div>
</div>
<!--foot-->

{% else %}
<!--#include virtual="/n/common/default/foot.html"-->
{% endif %}

