{% if config.debug %}
<script type="text/javascript">var dynSite='//g.atguat.com.cn',staSite='//www.atguat.com.cn',contextPath='/ec/homeus',imgServer='//img.atguat.net.cn/images',secureURL='//g.atguat.com.cn',pictureserver='//img.atguat.net.cn/image',cookieDomain='.atguat.com.cn',stageJsServer='//js.atguat.com.cn',stageImageServer='//img.atguat.net.cn',stageCssServer='//css.atguat.com.cn',cssserver='//css.atguat.com.cn/css',jsserver='//js.atguat.com.cn/js',protocol='http'
,versionData='1612081253';</script>
{% else %}
<!--#include virtual="/n/common/global/global.html"-->
{% endif %}

