{% if config.debug %}
<div class="gome-top">
    <div id="gome-top-body" class="wbox">
        <ul>
            <li id="gome-user" data-load="user">
                <b id="loginDiv-name"><a data-code="public01053" href="http://v.gome.com.cn" target="_blank">国美会员</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="loginDiv-link" class="gome-link">
                <a data-code="public01002" href="https://login.gome.com.cn/login">登录</a><a data-code="public01003" href="https://reg.gome.com.cn/register/index/person">注册</a>
            </li>
        </ul>
        <ul id="gome-top-right">
            <li class="gome-link"><a data-code="public01004" href="http://g.gome.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0">我的订单</a></li>
            <li id="gome-mygome" data-load="mygome">
                <b><a data-code="public01050" href="http://g.gome.com.cn/ec/homeus/myaccount/gome/profileHome.jsp?flag=a" target="_blank">我的国美</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-service" class="drop" data-load="service">
                <b><em class="gm-icon">&#x0066;</em><a data-code="public01052" href="http://help.gome.com.cn/" target="_blank">服务中心</a><i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li id="gome-sitemap" class="drop" data-type="default" data-load="sitemap">
                <b>网站导航<i></i></b>
                <div class="public-dropdown"></div>
            </li>
            <li class="gome-spacer"></li>
            <li id="gome-phone" class="drop">
                <b><em class="gm-icon">&#x00E1;</em><a data-code="public01049" href="http://shouji.gome.com.cn/" target="_blank">手机国美</a><i></i></b>
                <div class="public-dropdown"><a data-code="public01005" href="http://shouji.gome.com.cn/" target="_blank"></a></div>
            </li>
        </ul>
    </div>
</div>
<!--gome_top-->
<script>
var Topad_Data = {"size":1,"data":[
	{"href":"http://prom.gome.com.cn/html/prodhtml/topics/201605/24/618party.html","src":"http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160525/5.25顶通揭幕战大促.jpg","code":"public02001"}
]}
</script>
<div id="gome-topad-sm" class="gome-topad wbox">
	<a id="gome-topad-sm-pic" rel="nofollow" target="_blank"><img src="http://img.gomein.net.cn/images/grey.gif"></a>
	<a class="close-gome-topad" href="javascript:void(0)"><i>关闭</i></a>
</div>
<!--gome_topad-->
<div id="gome-topad-bg" class="gome-topad wbox">
	<a data-code="public05001" rel="nofollow" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/24/618party.html" target="_blank"><img src="http://img.gomein.net.cn/images/grey.gif" gome-src="http://img12.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160527/5.28蒙层大促.png"></a>
</div>
<!--gome_topad_layer-->
<div id="gome-head" class="wbox">
    <div id="logo"><a data-code="public03001" href="http://www.gome.com.cn/">国美在线</a></div>
    <div id="logo-gif"><a data-code="public03002" rel="nofollow" target="_blank" href="http://mall.gome.com.cn/80006393/"><img width="100" height="50" src="http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160527/5.30logo右汽车.gif"></a></div>
    <div id="topSearch" class="topsearch">
        <div id="topSearchHover" class="searchbox" data-visitor="hover">
            <form id="searchForm" method="get" action="http://search.gome.com.cn/search" onsubmit="return keyCheck();">
                <label id="keyLabel" default="618提前购，差价3倍返,1;车载冰箱,1;4K高清电视,1;变频空调,1"></label>
                <input type="text" id="searchInput" name="question" value="" autocomplete="off" onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                <button class="search-btn" onclick="doSearch();">搜索</button>
            </form>
        </div>
        <div class="hotkeyword">
            <a data-code="1000043098-0" class="highlight" rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/24/618party.html">满18返18</a>
            <a data-code="1000043098-1"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/25/2112685461.html">理财返现金</a>
            <a data-code="1000043098-2"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/jjjzjm.html">家居6.18</a>
            <a data-code="1000043098-3"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/3279602381.html">iPad mini2</a>
            <a data-code="1000043098-4"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/4/1346611810.html">服饰6.18</a>
            <a data-code="1000043098-5"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/3023506008.html">小米Max</a>
            <a data-code="1000043098-6"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/19/4921647130.html">六一礼物</a>
            <a data-code="1000043098-7"  rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/3261890419.html">热水器439</a>
            <a data-code="public03003" href="http://www.gome.com.cn/top10/" target="_blank">商品排行榜</a>
        </div>
        <div id="searchTips" class="searchtips">
            <div id="his_title" class="hisTitle">
                <p><span>最近搜索</span><a id="hisClear" href="javascript:void(0)">全部清空</a></p>
            </div>
            <ul id="searchTipsList" class="searchabout clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            var environment = 'commerce',targetType ='Production',contentLabels = 'Catalog',language = 'chinese' ;
        </script>
    </div>
    <div class="mygome-side" data-cart="mincart">
        <ul class="topmenu clearfix">
            <li class="shopcartbox"><span class="cartlinkbox"><a data-code="public03004" rel="nofollow" class="menulink cartlink" href="http://g.gome.com.cn/ec/homeus/cart/cart.jsp"><em class="i-cart"><span class="shopnum"><span id="commerceItemQuantityId">0</span><i></i></span></em><span id="hdrcarttext">购物车空了</span><b></b></a></span>
                <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                    <div id="csLoading" class="loding-layer"><span class="g-loading"></span><span class="loading-text">正在加载中…</span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--gome_head -->
<div class="category-box">
    <div class="category wbox">
            <div class="sidecategory">
                <h2><span></span><a data-code="1000036957" href="http://list.gome.com.cn/" target="_blank">全部商品分类</a></h2>
                        <div id="navBox" class='lisnav'>
                            <div class="lisbg"></div>
                            <ul class="lisnav-ul" id="lisnav">
                                    <li class="first edit-mode nav-item" data-index="0" modelType="4" modelId="1000037040">
                                            <h3>
                                                        <a data-code="1000037040-0" href="http://tongxun.gome.com.cn/" target="_blank">手机</a>
                                                        <a data-code="1000037040-1" href="http://digital.gome.com.cn/" target="_blank">数码</a>
                                                        <a data-code="1000037040-2" href="http://smart.gome.com.cn/" target="_blank">智能</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="1" modelType="4" modelId="1000037067">
                                            <h3>
                                                        <a data-code="1000037067-0" href="http://computer.gome.com.cn/" target="_blank">电脑</a>
                                                        <a data-code="1000037067-1" href="http://peijian.gome.com.cn/" target="_blank">办公配件</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="2" modelType="4" modelId="1000036959">
                                            <h3>
                                                        <a data-code="1000036959-0" href="http://electronic.gome.com.cn/" target="_blank">电视 影音</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="3" modelType="4" modelId="1000036986">
                                            <h3>
                                                        <a data-code="1000036986-0" href="http://kt.gome.com.cn/" target="_blank">空调</a>
                                                        <a data-code="1000036986-1" href="http://bx.gome.com.cn/" target="_blank">冰箱</a>
                                                        <a data-code="1000036986-2" href="http://xyj.gome.com.cn/" target="_blank">洗衣机</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="4" modelType="4" modelId="1000037013">
                                            <h3>
                                                        <a data-code="1000037013-0" href="http://life.gome.com.cn/" target="_blank">厨卫电器 生活电器</a>
                                                        <a data-code="1000037013-1" href="http://list.gome.com.cn/cat10000230.html" target="_blank">净化器</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="5" modelType="4" modelId="1000037148">
                                            <h3>
                                                        <a data-code="1000037148-0" href="http://alcohol.gome.com.cn/" target="_blank">食品酒水</a>
                                                        <a data-code="1000037148-1" href="http://health.gome.com.cn/" target="_blank">医疗保健</a>
                                                <p class="line"></p>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="6" modelType="4" modelId="1000037175">
                                            <h3>
                                                        <a data-code="1000037175-0" href="http://baby.gome.com.cn/" target="_blank">母婴玩具</a>
                                                        <a data-code="1000037175-1" href="http://beauty.gome.com.cn/" target="_blank">美妆个护</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="7" modelType="4" modelId="1000037202">
                                            <h3>
                                                        <a data-code="1000037202-0" href="http://clothing.gome.com.cn/" target="_blank">服饰鞋帽</a>
                                                        <a data-code="1000037202-1" href="http://luxury.gome.com.cn/" target="_blank">箱包奢品</a>
                                                <p class="line"></p>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="8" modelType="4" modelId="1000037229">
                                            <h3>
                                                        <a data-code="1000037229-0" href="http://toysgifts.gome.com.cn/" target="_blank">运动户外</a>
                                                        <a data-code="1000037229-1" href="http://watch.gome.com.cn/" target="_blank">钟表首饰</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="9" modelType="4" modelId="1000037094">
                                            <h3>
                                                        <a data-code="1000037094-0" href="http://furnit.gome.com.cn/" target="_blank">住宅家具</a>
                                                        <a data-code="1000037094-1" href="http://decoration.gome.com.cn/" target="_blank">家装建材</a>
                                                <p class="line"></p>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="10" modelType="4" modelId="1000037121">
                                            <h3>
                                                        <a data-code="1000037121-0" href="http://jiafang.gome.com.cn/" target="_blank">床品家纺</a>
                                                        <a data-code="1000037121-1" href="http://jiaju.gome.com.cn/" target="_blank">家居日用</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="11" modelType="4" modelId="1000037256">
                                            <h3>
                                                        <a data-code="1000037256-0" href="http://auto.gome.com.cn/" target="_blank">汽车整车 保养 配件</a>
                                                <p class="line"></p>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="12" modelType="4" modelId="1000037283">
                                            <h3>
                                                        <a data-code="1000037283-0" href="http://gold.gome.com.cn" target="_blank">黄金收藏</a>
                                                        <a data-code="1000037283-1" href="http://mgold.gome.com.cn/" target="_blank">国美金</a>
                                                        <a data-code="1000037283-2" href="http://art.gome.com.cn/" target="_blank">文化艺术</a>
                                            </h3>
                                    </li>
                                    <li class="edit-mode nav-item" data-index="13" modelType="4" modelId="1000037337">
                                            <h3>
                                                        <a data-code="1000037337-0" href="http://chongzhi.gome.com.cn/" target="_blank">充值</a>
                                                        <a data-code="1000037337-1" href="http://caipiao.gome.com.cn/" target="_blank">彩票</a>
                                                        <a data-code="1000037337-2" href="http://game.gome.com.cn/" target="_blank">游戏</a>
                                            </h3>
                                    </li>
                                    <li class="lst edit-mode nav-item" data-index="14" modelType="4" modelId="1000037310">
                                            <h3>
                                                        <a data-code="1000037310-0" href="http://jr.gome.com.cn/" target="_blank">金融理财</a>
                                                        <a data-code="1000037310-1" href="http://baina.gome.com.cn/" target="_blank">白拿</a>
                                                        <a data-code="1000037310-2" href="http://lvxing.gome.com.cn/" target="_blank">旅行</a>
                                                        <a data-code="1000037310-3" href="http://piao.gome.com.cn/" target="_blank">票务</a>
                                            </h3>
                                    </li>
                            </ul>
                            <div class="subnav" id="subnav" flag="0">
                                <div class="loading1-sync" id="loading1-sync">
                                    <p></p>
                                </div>
                            </div>
                        </div>
            </div>
            <ul class="mainnav">
                <li><a data-code="public04001" href="http://www.gome.com.cn/" target="_blank"><span>首页</span></a></li>
                            <li><a data-code="1000000378-1" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/27/618bijia.html" target="_blank"><span>618比价</span></a><span class ="tag_new"></span></li>
                            <li><a data-code="1000000378-2" href="http://tuan.gome.com.cn" target="_blank"><span>真划算</span></a></li>
                            <li><a data-code="1000000378-3" href="http://fashion.gome.com.cn/" target="_blank"><span>服装城</span></a></li>
                            <li><a data-code="1000000378-4" href="http://market.gome.com.cn/" target="_blank"><span>超市</span></a></li>
                            <li><a data-code="1000000378-5" href="http://jiadian.gome.com.cn/" target="_blank"><span>电器城</span></a></li>
                            <li><a data-code="1000000378-6" href="http://smart.gome.com.cn/" target="_blank"><span>智能</span></a></li>
                            <li><a data-code="1000000378-7" href="http://www.gomehome.com/" target="_blank"><span>国美家装</span></a></li>
                            <li><a data-code="1000000378-8" href="http://www.gomehigo.hk/" target="_blank"><span>海外购</span></a></li>
                            <li><a data-code="1000000378-9" href="http://jr.gome.com.cn/" target="_blank"><span>金融</span></a></li>
            </ul>
        <!--nav-->
            <div class="hdrsideRoll">
                <div class="adnavside" data-roll="hdrSideUp">
                    <ul class="hd-clickscroll js-tads-clsul">
                                <li><a data-code="1000000378-a0" rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/szkt618one.html?intcmp=sy-A-3-1-0" title=""><img alt="" width="160" height="40" src="http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160527/5.30空调-购物车下.jpg" /></a></li>
                                <li><a data-code="1000000378-a1" rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/23/shjdtqg.html?intcmp=sy-A-3-2-0" title=""><img alt="" width="160" height="40" src="http://img.gomein.net.cn/images/grey.gif" gome-src="http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160526/5.27购物车小家电160_40.jpg" /></a></li>
                                <li><a data-code="1000000378-a2" rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201605/19/qc618jmz.html?intcmp=sy-A-3-3-0" title=""><img alt="" width="160" height="40" src="http://img.gomein.net.cn/images/grey.gif" gome-src="http://img10.gomein.net.cn/image/prodimg/promotion_image/promoImg/201605/20160526/购物车下汽车5.28-5.30.jpg" /></a></li>
                    </ul>
                </div>
                <div class="hdrsRollbtn">
                    <a class="j-hdrbtn-up" href="javascript:;" data-btn="goUp"><i></i></a>
                    <a class="j-hdrbtn-down" href="javascript:;" data-btn="goDown"><i></i></a>
                </div>
            </div>
            <!--scroll-->
    </div>
</div>
<script id="test" type="text/html">
    <%= "hello"%>
</script>
<!--category-->
<!--head-->
{% else %}
<!--#include virtual="/n/common/default/head.html"-->
{% endif %}

