{% import "widget/cart.macro.html" as mcart %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ mcart.normalHead(config,"支付成功_国美")}}
    <!--gfe:combo:begin-->
    <link rel="stylesheet" type="text/css" href="<!--#include virtual='/n/common/a11/style.html'-->" />
    <!--gfe:combo:end-->

    <!--gfe:combo:begin-->
    <link rel="stylesheet" href="/css/i/sprite.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/cart-ui.css">
    <link rel="stylesheet" href="/css/payment-success.css">
    <!--gfe:combo:end-->

</head>
<body class="w990">
    <!--#include virtual="/n/common/a11/head.html"-->
    <div class="payment-success clearfix"  id="payment-success">
    </div>
    <!--#include virtual="/n/common/a11/foot.html"-->
    <!--#include virtual="/n/common/a11/aside.html"-->
    <script type="text/javascript">
        var $page={
            name:"payment-success"
        }
    </script>
    <!--#include virtual="/n/common/global/global.html"-->
     <!--公共js-->
    <!--gfe:combo:begin-->
    <script src="<!--#include virtual='/n/common/a11/script.html'-->"></script>
    <!--gfe:combo:end-->

    <!--gfe:combo:begin-->
    <script src="gmlib/ui/gmodal/1.0.0/gModal.js"></script>
    <script src="gmlib/ui/gdialog/1.0.0/gDialog.js"></script>
    <script src="/js/js/common/kit/request/request.js"></script>
    <script src="/js/js/common/kit/asyncLoadCSSJS.js"></script>
    <script src="/js/js/common/$config.js"></script>
    <script src="/js/js/common/kit/util.js"></script>
    <script src="/js/js/common/cart-ui.js"></script>
    <script src="/js/templatefn/payment-success.js"></script>
    <script src="/js/js/common/panel.js"></script>
    <script src="/js/js/payment-success/payment-success.js"></script>
    <script src="/js/js/common/others.js"></script>
    <!--gfe:combo:end-->

</body>
</html>