{% import "widget/cart.macro.html" as mcart %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{{ mcart.normalHead(config,"海外购身份授权_国美")}}
	<!--gfe:combo:begin-->
	<link rel="stylesheet" type="text/css" href="<!--#include virtual='/n/common/a11/style.html'-->" />
	<!--gfe:combo:end-->

	<!--gfe:combo:begin-->
	<link rel="stylesheet" href="/css/i/sprite.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="gmlib/unit/gcity/1.0.0/gcity.css">
	<link rel="stylesheet" href="/css/cart-ui.css">
	<link rel="stylesheet" href="/css/overseas.css">
	<!--gfe:combo:end-->
	<style>
		.box-content{
			width: 990px;
			margin: 0 auto;
			overflow: hidden;
		}
		.center{
			margin: 0 auto;
			text-align:center
		}
		p{
			white-space:pre-wrap;
			color: #5e5e5e;
			font: 14px/1.5 "Microsoft YaHei";
		}
		h2.center{
			font-weight: 800;
			font: 25px/1.5 "Microsoft YaHei";
		}
	</style>
</head>
<body class="w990">
<!--#include virtual="/n/common/a11/head.html"-->

<div class="box-content">
	<h2 class="center">跨境贸易电子商务购物提示</h2>

<p>
您好，在您选购境外商品前,请您仔细阅读此文，同意以下所告知内容后再进行下单购买：<br />
1.您在本（公司）网站上购买的境外商品为产地直销商品，仅限个人自用不得进行销售，商品本身可能无中文标签，您可以查看网站的翻译或在线联系我们的客服。<br />
2.您购买的境外商品适用的品质、健康、标识等项目适用标准或与我国标准有所不同，所以在使用过程中由此可能产生的危害或损失以及其他风险，本(公司)网站不承担责任。<br />
3.本商品为跨境贸易电子商务进口商品，根据海关法和国家相关政策规定，依据中华人民共和国海关总署2016年第26号文件，以及海关总署，财政部和税务总局《于关于跨境电子商务零售进口税收政策的通知》等相关文件要求，以个人名义购买的商品应以“个人自用、合理数量”为原则，跨境电子商务零售进口商品的单次交易限值为人民币2000元，个人年度交易限值为人民币20000元。在限值以内进口的跨境电子商务零售进口商品，关税税率暂设为0%；进口环节增值税、消费税取消免征税额，暂按法定应纳税额的70%征收。超过单次限值、累加后超过个人年度限值的单次交易，以及完税价格超过2000元限值的单个不可分割商品，均按照一般贸易方式全额征税。<br />
4.个人消费者在本网站购买进境商品的，应当提供收件人真实姓名和身份证号码，同意委托本电商企业或其代理企业代表收件人向海关办理通关申报和税款缴纳手续。个人消费者需正确填写订单信息，禁止虚假信息，购买商品需符合个人自用合理数量，禁止二次销售。若个人消费者购买商品超出个人自用原则，将受到执法部门核查，情节严重者，将依法追究刑事责任。
</p>


<h2 class="center" style="margin-top: 20px">国际配送服务协议</h2>
<p>
您通过在网络页面以点击确认、点击购买商品及其他方式选择接受本协议，即表示您愿意接受本服务协议条款和条件的约束。您应在接受协议前认真阅读本协议，如果您对本协议的条款有疑问或者不同意本协议的任一条款，请不要进行后续操作。<br />
1.定义
	1.1 商品：指您基于个人自用目的在国美海外购网站向卖家购买的商品实物。
	1.2 买家：指在国美海外购网站基于个人自用目的购买商品的消费者，以下称“您”。
	1.3 卖家：指在国美海外购网站上开设店铺、销售商品的法律实体。
	1.4 物流商：指卖家根据您的授权进行选定，为您提供具体物流服务的物流服务商。
	1.5 海外仓：指物流商在中国大陆境外经营管理的货物仓库，用于接收卖家发送的包裹并运输至您指定的中国大陆境内的收货地点。
	1.6 国美海外购网站:域名为www.gome.com.cn的B2C购物网站。<br />
2.签约背景
	2.1 您基于个人自用目的在国美海外购网站购买商品，因商品位于境外（包括保税区等特殊监管区域），且您需要寻找适格物流商将其购买的商品运回境内。
	2.2 卖家具备丰富跨境经营经验及国际物流资源，能够帮助您寻找适格的物流商。<br />
3.服务与委托
	3.1 双方同意，您委托卖家寻找选择适格的物流商，并将您所购买的商品交付给a)选定的境外公共承运商并由其直接运输至您指定的中国大陆境内的收货地点，或b）选定的海外仓并由其运输至您指定的中国大陆境内的收货地点。商品的所有权自卖家按上述a）或b）方式交付商品后转移给您。
	3.2 卖家同意，您境内签收商品后，商品灭失、损毁等相应风险方才从卖家转移至您，相关交易及交易纠纷处理以及商品运输费用等问题，应根据国美海外购网站协议及规则的相关条款处理。
	3.3 物流商根据您的授权，在海外仓或直接接收卖家发送的商品后开始提供物流服务并配送至您指定的收件地址。<br />
4.承诺与保证
	26号文件，以及海关总署，财政部和税务总局《于关于跨境电子商务零售进口税收政策的通知》等相关文件要求，以个人名义购买的商品应以“个人自用、合理数量”为原则，跨境电子商务零售进口商品的单次交易限值为人民币2000元，个人年度交易限值为人民币20000元。在限值以内进口的跨境电子商务零售进口商品，关税税率暂设为0%；进口环节增值税、消费税取消免征税额，暂按法定应纳税额的70%征收。超过单次限值、累加后超过个人年度限值的单次交易，以及完税价格超过2000元限值的单个不可分割商品，均按照一般贸易方式全额征税。<br />
5.您对物流商的授权
	5.1 您理解并同意，物流商有权将您所提供信息基于履行本协议的目的披露给出入境相关监管部门（如海关、检验检疫）等第三方主体，该信息包括但不限于：收件人/购买人真实姓名、联系方式、商品信息、收货地址以及应国家机关要求提供的身份证影印件等。
	5.2 您授权物流商作为您的代理人与收件人所在国家/地区的相关海关、税务和/或邮政交涉，为您所购商品清关、处理并代缴进口税费。
</p>
</div>
 <!--#include virtual="/n/common/a11/foot.html"-->
 <!--#include virtual="/n/common/a11/aside.html"-->
 <script>
     window.$page={
         name:"haiwaigou_sq"
     }
 </script>
 <!--#include virtual="/n/common/global/global.html"-->
 <!--gfe:combo:begin-->
 <script src="<!--#include virtual='/n/common/a11/script.html'-->"></script>
 <!--gfe:combo:end-->

 <!--gfe:combo:begin-->
 <script src="gmlib/ui/gmodal/1.0.0/gModal.js"></script>
 <script src="gmlib/ui/gdialog/1.0.0/gDialog.js"></script>
 <script src="/js/js/common/kit/request/request.js"></script>
 <script src="/js/js/common/kit/asyncLoadCSSJS.js"></script>
 <script src="/js/js/common/$config.js"></script>
 <script src="/js/js/common/kit/util.js"></script>
 <script src="/js/js/common/cart-ui.js"></script>
 <!--gfe:combo:end-->

 <script type="text/javascript" inbottom>
     $("#readCheck").on("click",function(){
         if($(this).attr("checked")){
             $("#mainBtn")
                 .removeClass("btn-disabled")
                 .addClass("btn-primary");
         }else{
             $("#mainBtn")
                 .removeClass("btn-primary")
                 .addClass("btn-disabled");
         }
     });
     $("#mainBtn").on("click",function(){
         if($(this).is(".btn-disabled"))return;
         $.ajax({
             type:"post",
             url:"/home/api/haiwaigou/authorizeHaiwaigouUser",
             datatype:"json",
             data:{}
         }).then(function(data){
             if(data.success) window.location.href="/haiwaigou/shopping";
             else alert(data.errMsg);
         });
     });
 </script>

</body>
</html>










