{% import "widget/cart.macro.html" as mcart %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{{ mcart.normalHead(config,"小购物车_国美在线")}}
	<!--gfe:combo:begin-->
	<link rel="stylesheet" type="text/css" href="<!--#include virtual='/n/common/a02/style.html'-->" />
	<!--gfe:combo:end-->

</head> 
<body class="w990" data-page="mcart">
	<!--#include virtual="/n/common/a02/head.html"-->
	
	<div class='wbox'>
		<div style="margin-top:20px;font-size:30px;font-weight:400;">我是小购物车，啦啦啦，本地调休完记得同步以下文件<br/>
		gmpro/1.0.0/cart/1.0.0/js/head-cart/mCart.min.js,<br/>
		gmpro/1.0.0/cart/1.0.0/js/head-cart/cart.min.js</div>
	</div>
	<!--#include virtual="/n/common/global/global.html"-->
	<!--gfe:combo:begin-->
	<script src="gmlib/jq/1.7.1/jquery.js"></script>
	<script src="gmlib/ui/json3/3.3.2/json3.js"></script>
	<script src="gmlib/ui/arttemplate/2.0.4/template.min.js"></script>
	<script src="gmlib/ui/arttemplate/2.0.4/template-simple.min.js"></script>
	<script src="gmpro/1.0.0/public/1.0.0/js/category.min.js"></script>
	<script src="gmlib/ui/gscroll/1.0.0/gscroll.min.js"></script>
	<script src="gmlib/ui/dropdown/1.0.0/dropdown.min.js"></script>
	<script src="gmlib/cookie/1.0.0/cookie.js"></script>
	<script src="gmpro/1.0.0/public/1.0.0/js/signtop.min.js"></script>
	<script src="gmpro/1.0.0/public/1.0.0/js/autopoint.min.js"></script>
	<script src="gmpro/1.0.0/public/1.0.0/js/search.min.js"></script>
	<!--gfe:combo:end-->

	<!--gfe:combo:begin-->
	<script src="/js/js/mcart/mCart.js"></script>
	<script src="/js/js/mcart/cart.js"></script>
	<!--gfe:combo:end-->
</body>
</html>










